*, :after, :before {
  box-sizing: border-box
}

input, input:focus, button, button:focus {
  outline: none;
  border: none;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  /*  font-size: 100%; */
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block
}

ul, li {
  list-style: none;
}

a, a:hover, a:active, a:visited {
  text-decoration: none;
}

.clearfix:before, .clearfix:after {
  clear: both;
  content: '.';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.app-note .note-header {
  background-color: #fff;
  color: #333;
  padding: 0px 40px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.06);
  line-height: 100px;
  margin-bottom: 60px;
}

.app-note .trademark {
  font-size: 24px;
}

.app-note .note-header .note-nav ul {
  list-style: none;
}

.app-note .note-header .note-nav ul li {
  float: left;
  list-style: none;
  padding: 0 30px;
  font-size: 20px;
}

.app-note .note-header .note-nav ul li a {
  display: block;
  height: 100px;
  color: #333;
}

.app-note .note-header .note-nav ul li.actived a, .app-note .note-header .note-nav ul li a:hover {
  border-bottom: 3px solid #1C80F9;
  color: #1E96FA;
  cursor: pointer;
}

/* sidebar*/

.note-main {
  display: -webkit-box;
  /*   display: -webkit-flex;
  display: flex; */
}

.note-sidebar {
  width: 240px;
}

.note-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

.note-content>div {
  padding: 0 40px;
  border-left: 1px solid #e5e5e5;
}

/* 侧边栏 */

.note-sidebar .un-links {
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  color: #999999;
  padding-left: 40px;
}

.note-sidebar .links {
  padding: 15px 0;
}

.note-sidebar .links a {
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  color: #666;
  padding-left: 40px;
  margin: 0;
  display: block;
  font-weight: 200;
}

.note-sidebar .links.actived a, .note-sidebar .links a:hover {
  border-left: 3px solid #1C80F9;
  padding-left: 37px;
  color: #1E96FA;
}

.note-sidebar li.links a {
  padding-left: 40px
}

.note-sidebar dd.links a {
  padding-left: 40px
}

.note-sidebar li.links a:hover {
  padding-left: 37px;
}

.note-sidebar dd.links a:hover {
  padding-left: 37px;
}

.note-sidebar .sec-nav dt {
  line-height: 50px;
  color: #ccc;
  padding-left: 40px;
  font-size: 12px;
  font-weight: normal;
  position: relative;
}

.note-sidebar .sec-nav dt span {
  font-size: 12px;
}

.note-sidebar .sec-nav dd.links a {
  display: block;
  height: 20px;
  line-height: 20px;
  padding-left: 50px;
  font-weight: 200;
  font-style: 12px;
}

.note-sidebar .sec-nav dd.links.actived a, .note-sidebar .sec-nav dd.links a:hover {
  padding-left: 47px;
}

/* 主题内容 */

.pure-markdown {}

.pure-markdown>h1 {
  font-size: 32px;
  color: #333333;
  line-height: 45px;
  margin-bottom: 20px;
}

.pure-markdown>h2, .pure-markdown>h3 {
  font-size: 20px;
  color: #333333;
  line-height: 28px;
  margin-bottom: 20px;
}

.pure-markdown>div {
  margin-bottom: 30px;
}

.pure-markdown>blockquote p, .pure-markdown>p {
  font-size: 14px;
  color: #666666;
  line-height: 20px;
}

.pure-canvas .pure-editor {
  margin-top: 20px;
}

.pure-editor .CodeMirror {
  height: auto;
}

.pure-canvas .pure-editor .pure-editor-btn {
  margin-bottom: 5px;
  color: #1E96FA;
  font-size: 14px;
  display: inline-block;
  cursor: pointer;
}

.note-aside {
  width: 340px;
  position: relative;
}

.note-example {
  width: 330px;
  height: 645px;
  position: sticky;
  right: 10px;
  /*  */
  top: 20px;
  background: url(img/iphoneX.png) no-repeat center 0;
  background-size: 100%;
}

.note-example .example-contant {
  position: absolute;
  top: 64px;
  left: 21px;
  right: 23px;
  bottom: 22px;
  overflow: hidden;
  border-radius: 0 0 35px 35px;
  border: 1px solid #edf0f4;
  border-top: none;
  background-color: #edf0f4;
}

/* footer */

.note-footer {
  background: #000;
  color: #fff;
  margin-top: 60px;
}

.note-footer a {
  color: #fff;
}

.note-footer .footer-links {
  padding: 80px 0;
  overflow: hidden;
}

.footer-links .f-links-item {
  float: left;
  margin-left: 150px;
}

.f-links-item dt {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 15px;
}

.f-links-item dd {
  line-height: 20px;
  margin-top: 15px;
}

.f-links-item dd span {
  opacity: 0.5;
  font-size: 14px;
}

.version-msg {
  border-top: #404040 1px solid;
  font-size: 14px;
  color: #666;
  padding: 30px 0 30px 150px;
  line-height: 20px;
}