.pile_mask {
  z-index: 100;
  background: rgba(0,0,0,.5);
}
.pile_mask, .pile_mask_transparent {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.pile-dialog .pile_dialog {
  position: fixed;
  z-index: 999;
  width: 270px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 20px 0 0;
  border-radius: 2px;
}
.pile-dialog .icon-popup_right, .pile-dialog .icon-popup_warning {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fafafa;
  line-height: 50px;
  font-size: 24px;
  margin:0px auto;
}
.pile-dialog .dialog-alerttitle {
    line-height: 22px;
    margin-bottom: 10px;
    font-size: 16px;
    color: rgb(51, 51, 51);
}
.pile-dialog .dialog-alert-content {
  padding-bottom: 20px;
  font-size: 14px;
  color: #666;
  line-height: 1.5;
  margin: 0 16px;
}
.pile-dialog .d_btns {
  width: 100%;
  border-top: 1px solid #e5e5e5;
}
.pile-dialog .pile_btn_alert .btn_orange, .pile-dialog .pile_dialog_confirm .btn_orange {
  color: #1e96fa;
  line-height: 50px;
  font-size: 16px;
  position: relative;
  height: 50px;
  background-color: transparent;
  cursor: pointer;
}
.pile-animate-enter {
  opacity: 0.01;
}

.pile-animate-enter-done,.pile-animate-enter-active {
  transition: opacity .2s ease-in;
  opacity: 1;
}

.pile-animate-exit-done,.pile-animate-exit-active {
  opacity: 0;
  transition: opacity .2s ease-in;
}
